{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "extends": ["@iteam/eslint-config-iteam-react"],
  "overrides": [
    {
      "files": ["**/*.tsx", "**/*.ts"],
      "rules": {
        "no-undef": "off",
        "no-unused-vars": "off",
        "react/prop-types": "off"
      }
    }
  ],
  "plugins": ["@typescript-eslint", "emotion", "react", "react-hooks"],
  "rules": {
    "emotion/jsx-import": "error",
    "react/jsx-sort-props": "warn",
    "react/sort-prop-types": "error",
    "react-hooks/rules-of-hooks": "error"
  }
}
